* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* Viewport principal */
.solar-system {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../Assets/Img/Fond/Astre/2k_stars_milky_way.jpg');
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-attachment: fixed; /* Fixe l'image pour qu'elle ne bouge pas */
    background-position: center;
    overflow: hidden;
    pointer-events: none;
}

/* Conteneur de la caméra */
.camera {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    pointer-events: none;
}

/* Groupe de transformation pour toutes les planètes */
#planets-group {
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 110%;
    transform-style: preserve-3d;
    /* Point d'ancrage au centre bas, comme Mercure */

    transform-origin: center 80%;
    transform: translateZ(700px);/* Gère l'avancement des planètes
    pointer-events: none;*/
}

/* Style commun pour les planètes */
.celestial-body {
    backface-visibility: hidden;
    position: absolute;
    width: 30vh;  /* Taille relative à la hauteur de l'écran */
    height: 30vh;
    border-radius: 50%;
    left: 50%;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    pointer-events: all;
    
}

/* Mercure - notre point de référence */
#mercure {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_mercury.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(118, 127, 109);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(0px);

}

/* Autres planètes positionnées par rapport à Mercure */
#venus {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_venus_atmosphere.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(182, 186, 81);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-4000px);
}

#terre {
    bottom: 20%;
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/Earth-clouds.png'),url('../../../../Assets/Img/Fond/Astre/2k_earth_daymap.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(86, 138, 218);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; 
    transform: translate(-50%, 0) translateZ(-8000px);
}

#mars {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_mars.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(212, 122, 70);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-12000px);
}

#jupiter {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_jupiter.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(165, 128, 65);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-16000px);
}

#saturne {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_saturn.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(218, 209, 86);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;;
    transform: translate(-50%, 0) translateZ(-20000px);
}

#uranus {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_uranus.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(175, 199, 235);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-24000px);
}

#neptune {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_neptune.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(47, 65, 224);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-28000px);
}

#pluton {
    bottom: 20%;
    transform: translate(-50%, 0) translateZ(0px);
    background: radial-gradient(circle at bottom,black 0%, black 70%, rgba(0, 0, 0, 0.005) 90%),url('../../../../Assets/Img/Fond/Astre/2k_pluto_atmosphere.jpg');
    animation: rotateBackground 50s linear infinite;
    box-shadow: 0px -70px 150px rgb(29, 153, 156);
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    transform: translate(-50%, 0) translateZ(-32000px);
}

/* Liste de navigation */
#side-navigation {
    color: white;
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.886)  5%, rgba(158, 155, 155, 0.133) 100%), 
                rgba(0, 245, 8, 0); /* Dégradé + transparence de base */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 40vh;
    left: 0;
    top: 0;
    border-radius: 0% 0% 2% 2%;
    font-size: 1.2rem;
    padding: 0.5em;
    z-index: 9999; /* Garde l'élément au premier plan */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px 1px 0px 1px; /* Haut, Droite, Bas, Gauche */
    border-color: rgba(71, 71, 71, 0.041)
/* Bordure subtile */
}


#side-navigation ul {
    padding: 0.5em;/* Ajoute une bordure visible */
}

#side-navigation li {
    position: relative;
    margin-left: 6%;
    padding: 0.1em;
    border: 1px solid #ffffff; /* Corrige la syntaxe pour une bordure fine */
}

@keyframes rotateBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

.list-planet {
    display: flex; /* Aligne le cercle et le texte */
    width: 5vh;  /* Taille relative à la hauteur de l'écran */
    height: 5vh;
    background-color: red;
    border-radius: 50%;
}